.selectDropDown{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 20px;
}
.selectDataa select{
    width: 160px;
    height: 32px;
    border: 2px solid var(--primary);
    border-radius: 8px;
}