.card_container{
    position: relative;
    display: flex;
    gap: 15px;
    gap: 15px;
    top: -20rem;
}
.card_container .card_main{
    flex-direction: column;
    background-color: var(--primary);
    color: var(--white-color);
    border-radius: 15px;
    margin-top: 5rem;
    box-shadow: 0 6px 7px rgba(0.5, 0.4, 0.3, 0.32), 0 5px 4px rgba(0.4, 0.3, 4, 0.12);
    width: 320px;
    height: 250px;
    margin-left: 2px;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    position: relative;
}
.card_container .card_main img{
   width: 25px;
   height: 25px;
   display: block;
    margin-left: auto;
   margin-block: 15px;
     
}
.white_card {
    background-color: white;
    height: 200px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 6px 7px rgba(0.5, 0.4, 0.3, 0.32), 0 5px 4px rgba(0.4, 0.3, 4, 0.12);
    position: absolute;
    top: -26px;
    left: 7px;
    border: 1px solid var(--primary);

}
.cardContent{
    margin-top: 15px;
    padding-inline: 10px;
}
.cardContent h6 {
    text-align: left;
}